.loginContainer {
  display: flex;
  position: relative;
}
.loginBg {
  height: 100vh;
  width: 100vw;
}
.loginBox {
  height: 85vh;
  width: 42vw;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left: 5%;
  top: 9%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.icon {
  height: 25vh;
  width: 40vw;
  margin-top: 5vh;
}
.welcome {
  font-size: 2vw;
  font-weight: 400;
  color: "#717070";
}
.login_details {
  display: flex;
  flex-direction: column;
  // height: 50vw;
  width: 37vw;
}
.form_group1 {
  position: relative;
  margin-top: 2vh;
}
.form_input {
  font-size: 1vw;
  width: 36.5vw;
  height: 6vh;
  border-radius: 0.6vh;
  border: 0.2vh solid #686868;
  padding-left: 1vw;
}
.formLabel {
  font-size: 1.4vw;
  position: absolute;
  top: -2.7vh;
  left: 10px;
  background: white;
  padding: 0 5px;
  transition: 0.2s;
  color: #1f1f1f;
  pointer-events: none;
}

input:focus {
  outline: none;
  border-color: #a19f9f;
}
.form_group2 {
  position: relative;
  margin-top: 6vh;
  display: flex;
  flex-direction: row;
}
.form_input2 {
  border-right: 0px !important;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.midEye {
  border: 0px;
  background-color: white;
  outline: none;
  border: 0.2vh solid #686868;
  border-left: 0px;
  border-radius: 1vh;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.submit_box {
  display: flex;
  flex-direction: column;
}
.forgot_pass {
  margin-top: 1vh;
  border: 0px;
  background-color: #fff;
  align-self: end;
}
.form_submit {
  margin-top: 1.5vh;
  height: 7vh;
  background-color: rgb(149, 67, 149);
  border: 0px;
  border-radius: 1vh;
  color: #fff;
  font-weight: 400;
  font-size: 1.58vw;
}
.register {
  font-size: 1.25vw;
  margin-top: 0.5vh;
}
